main.page_content
  - var tit = "hello world"
  h1.page_title #{tit}
  h2.page_title #{tit}
  - var tit = "hello and welcome world"
  h3.page_title #{tit}
  h4.page_title #{tit}
  h5.page_title #{tit}
  h2.test= 'hello and welcome world by <strong> ash</strong>'